---
import ArrowRight from "@assets/icons/ArrowRight.astro";
import { Image } from "astro:assets";
import { getRelativeLocaleUrl } from "astro:i18n";

interface Props {
  lang: string;
  id: string;
  title: string;
  subtitle: string;
  description: string;
  image: string;
  imageFirst: boolean;
  viewDetail: string;
}

const { lang, id, title, subtitle, description, image, imageFirst, viewDetail } =
  Astro.props;
---

<div class="grid items-center gap-16 lg:grid-cols-2">
  <div class:list={["overflow-hidden shadow-xl", !imageFirst && "lg:order-2"]}>
    <Image
      src={image}
      alt="Hillside Residence"
      width={1}
      height={1}
      loading="lazy"
      class="h-[500px] w-full rounded object-cover shadow-xl"
    />
  </div>
  <div
    class:list={[
      "flex flex-col gap-6",
      !imageFirst && "lg:items-end lg:text-end",
    ]}
  >
    <div>
      <h3 class="font-title mb-2 text-3xl">{title}</h3>
      <p class="font-caption mb-4">
        {subtitle}
      </p>
      <p class="text-lg leading-relaxed">
        {description}
      </p>
    </div>
    <a
      href={getRelativeLocaleUrl(lang, id)}
      class="group border border-gray-300 dark:border-neutral-900 flex w-max items-center rounded-md px-3 py-2 transition-colors duration-300 ease-in-out hover:bg-black hover:text-white dark:hover:bg-white dark:hover:text-black"
    >
      {viewDetail}
      <ArrowRight
        styles="ml-2 h-4 w-4 group-hover:translate-x-1 transition-transform"
      />
    </a>
  </div>
</div>
