---
import ArrowRight from "@assets/icons/ArrowRight.astro";
import type { languages } from "@i18n/ui";
import { useTranslations } from "@i18n/utils";
import Layout from "@layouts/Layout.astro";
import type { GetStaticPaths } from "astro";
import { Image } from "astro:assets";
import { getCollection } from "astro:content";
import { getRelativeLocaleUrl } from "astro:i18n";

export const getStaticPaths = (async () => {
  const projects = await getCollection("project");

  return projects.map((project) => ({
    params: { slug: project.id },
    props: project.data,
  }));
}) satisfies GetStaticPaths;

const {
  title,
  subtitle,
  hero,
  description,
  process,
  gallery,
  details,
  reflection,
  prev,
  next,
} = Astro.props;
const { slug } = Astro.params;
const lang = (Astro.currentLocale as keyof typeof languages) || "en";
const translateUi = useTranslations(lang);
---

<Layout pageTitle={title[lang]} description={description[lang]} url={slug}>
  <section class="relative h-screen">
    <div class="absolute inset-0">
      <Image
        src={hero}
        alt={title[lang]}
        width={1}
        height={1}
        loading="eager"
        class="size-full object-cover"
      />
      <div class="absolute inset-0 bg-black/20"></div>
    </div>
    <div class="absolute right-6 bottom-16 left-6 text-white">
      <div class="max-w-4xl">
        <h1
          class="font-title mb-4 text-4xl leading-tight uppercase md:text-6xl"
        >
          {title[lang]}
        </h1>
        <p class="text-lg font-light opacity-90 md:text-xl">
          {subtitle[lang]}
        </p>
      </div>
    </div>
  </section>

  <section class="px-6 py-24">
    <div class="mx-auto max-w-3xl">
      <p
        class="text-lg leading-relaxed font-light text-gray-600 md:text-xl dark:text-neutral-400"
      >
        {description[lang]}
      </p>
    </div>
  </section>

  <section class="bg-neutral-100 px-6 py-24 dark:bg-neutral-950">
    <div class="mx-auto max-w-7xl">
      <h2 class="font-title mb-16 text-center text-2xl font-light md:text-3xl">
        {translateUi("slug.design")}
      </h2>
      <div class="mb-16 grid gap-8 md:grid-cols-2">
        {
          process.images.map((image, index) => (
            <div class="space-y-4">
              <Image
                src={image.src}
                alt={image.caption[lang]}
                width={1}
                height={1}
                loading="lazy"
                class="aspect-[3/2] w-full rounded object-cover"
              />
              <p class="text-sm opacity-65">{image.caption[lang]}</p>
            </div>
          ))
        }
      </div>
      <div class="mx-auto max-w-4xl">
        <p
          class="text-base leading-relaxed text-gray-600 dark:text-neutral-400"
        >
          {process.text[lang]}
        </p>
      </div>
    </div>
  </section>

  <section class="px-6 py-24">
    <div class="mx-auto max-w-7xl">
      <h2 class="font-title mb-16 text-center text-2xl font-light md:text-3xl">
        {translateUi("slug.final")}
      </h2>
      <div class="space-y-16">
        {
          gallery?.map((image) => (
            <div class="space-y-6">
              <Image
                src={image.src}
                alt={image.caption[lang]}
                width={1}
                height={1}
                loading="lazy"
                class="aspect-[3/2] w-full rounded object-cover"
              />
              <p class="max-w-2xl text-sm opacity-65">{image.caption[lang]}</p>
            </div>
          ))
        }
      </div>
    </div>
  </section>

  <section class="bg-neutral-100 px-6 py-24 dark:bg-neutral-950">
    <div class="mx-auto max-w-7xl">
      <h2 class="font-title mb-16 text-center text-2xl font-light md:text-3xl">
        {translateUi("slug.technical")}
      </h2>
      <div class="grid gap-8 md:grid-cols-2 lg:grid-cols-3">
        {
          details.map((detail) => (
            <div class="space-y-4">
              <Image
                src={detail.src}
                alt={detail.caption[lang]}
                width={1}
                height={1}
                loading="lazy"
                class="aspect-square w-full rounded object-cover"
              />
              <p class="text-sm opacity-65">{detail.caption[lang]}</p>
            </div>
          ))
        }
      </div>
    </div>
  </section>

  <section class="px-6 py-24">
    <div class="mx-auto max-w-3xl">
      <h2 class="font-title mb-12 text-center text-2xl font-light md:text-3xl">
        {translateUi("slug.reflextion")}
      </h2>
      <p class="text-base leading-relaxed italic opacity-65">
        {reflection[lang]}
      </p>
    </div>
  </section>

  <section class="px-6 py-16">
    <div
      class="mx-auto flex max-w-7xl flex-col items-center justify-between gap-8 md:flex-row"
    >
      <div class="flex flex-1">
        {
          prev && (
            <a
              href={getRelativeLocaleUrl(lang, prev)}
              class="group flex items-center gap-2 rounded-md border border-transparent px-5 py-2 transition-colors duration-300 ease-in-out hover:border-gray-300 hover:bg-black hover:text-white dark:hover:border-neutral-900 dark:hover:bg-white dark:hover:text-black"
            >
              <ArrowRight styles="w-5 h-5 rotate-180 group-hover:-translate-x-1 transition-transform" />
              <span>{translateUi("slug.prev")}</span>
            </a>
          )
        }
      </div>

      <a
        href={getRelativeLocaleUrl(lang, "/#projects")}
        class="rounded-md border border-gray-300 px-5 py-2 duration-300 ease-in-out hover:bg-black hover:text-white dark:border-neutral-900 dark:hover:bg-white dark:hover:text-black"
      >
        {translateUi("slug.back")}
      </a>

      <div class="flex flex-1 justify-end">
        {
          next && (
            <a
              href={getRelativeLocaleUrl(lang, next)}
              class="group flex items-center gap-2 rounded-md border border-transparent px-5 py-2 transition-colors duration-300 ease-in-out hover:border-gray-300 hover:bg-black hover:text-white dark:hover:border-neutral-900 dark:hover:bg-white dark:hover:text-black"
            >
              <span>{translateUi("slug.next")}</span>
              <ArrowRight styles="w-5 h-5 group-hover:translate-x-1 transition-transform" />
            </a>
          )
        }
      </div>
    </div>
  </section>
</Layout>
